body {
    margin: 60px auto;
    width: 100%;
    color: #f8f5f5;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    
    list-style: none;
    font-weight: bold;
    color: #f8f5f5;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
   
    margin-right: 20px;
    color: #f8f5f5;
    text-align: center;
}
a {
    text-decoration: none;
    color: #f8f5f5;
    text-align: center;
}
a:hover {
    text-decoration: underline;
    color: #f8f5f5;
    text-align: center;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #f8f5f5;
    text-align: center;
     
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #f8f5f5;
    text-align: center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #f8f5f5;
    text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: #f8f5f5;
    text-align: center;
}
body {
    margin:0;
    padding:0;
    background:url("https://thumbs.gfycat.com/JoyfulRewardingDrake-max-1mb.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


ul.posts li {
    list-style: none;
    color: #f8f5f5;
}

