body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
     color: #f8f5f5;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
     color: #f8f5f5;
    margin-right: 20px;
}
a {
    text-decoration: none;
   color: #f8f5f5;
}
a:hover {
    text-decoration: underline;
     color: #f8f5f5;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
     color: #f8f5f5;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
 color: #f8f5f5;
     
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
     color: #f8f5f5;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
     color: #f8f5f5;
}

body{height:100%;
width:100%;
background-image:url('http://3.bp.blogspot.com/-jA9bZKFspdY/UYFrX0OCnTI/AAAAAAAAKKQ/tAPK5NotKbQ/s1600/website_background_by_modsoft-d3302jz1.png');/*your background image*/ 
background-repeat:no-repeat;/*we want to have one single image not a repeated one*/ 
background-size:cover;/*this sets the image to fullscreen covering the whole screen*/ 
/*css hack for ie*/ 
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}

ul.posts li {
    list-style: none;
     color: #f8f5f5;
}



