<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sushmaunnibhavi@gmail.com"><a href="#" class="fa fa-google"></a></a></li>
	        		<li><a href="https://github.com/sushmaunnibhavi"><a href="#" class="fa fa-github"></a></a></li>
				<li><a href="https://twitter.com/SushmaUnnibhavi"><a href="#" class="fa fa-twitter"></a></a></li>
				<li><a href="https://www.linkedin.com/in/sushma-unnibhavi-970985171/"><a href="#" class="fa fa-linkedin"></a></a></li>
				
				</ul>
			</footer>
		</body>
	</html>

