<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul style="text-align:center"  class="social-icons">
	        		<li><a href="mailto:sushmaunnibhavi@gmail.com"><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe3rg2a6bTElkFUCEPSACKKcFrtIRwsPqvbzVE4edM7piF8pY5' />
  </a></li>
	        		<li><a href="https://github.com/sushmaunnibhavi"><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw_IpMAjHi-FA4JbKfmVJBrh43qZ1vmVCrJoXytpzk6ymd5BNr' />
  </a></li>
				<li><a href="https://twitter.com/SushmaUnnibhavi"><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCcIBeuvYsDQyfBccYXcCFvxlN1Al4HhpEXIb-fbuU00de7OiT' />
  </a></li>
				<li><a href="https://www.linkedin.com/in/sushma-unnibhavi-970985171/"><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmYnFr6Bcr6mewXpLuMafcY7uvMsEEhd65n3c5N_IQnnx7N1QN' />
  </a></li>
				
				</ul>
			</footer>
		</body>
	</html>

